* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.main {
    text-align: center;
    height: 100px;
}

h1 {
    margin: 10px;
}

p {
    font-size: large;
    margin: 10px;
    text-transform: uppercase;
    background-color: rgb(197, 229, 255);
    margin: 0 auto;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    padding-left: 50px;
    font-size: 40px;
}

.assignments {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 25px;
}

button {
    padding: 5px 20px;
    background-color: rgb(197, 229, 255);
    border-radius: 5px;
    font-size: large;
}

button:hover {
    background-color: rgb(93, 93, 94);
    color: beige;
}

@media screen and (max-width: 480px) {
    .assignments {
        flex-direction: column;
        gap: 25px;
    }

    p {
        font-size: medium;
        height: 25px;
    }

    h2 {
        font-size: 25px;
        padding-left: 30px;
    }

    button {
        font-size: medium;
    }
}